---
const { images } = Astro.props;
---

<div class="room-list-swiper relative w-full xl:w-screen max-w-[43.6rem] overflow-hidden">
    <div class="swiper-wrapper">
        {
            images.map(img => (
                <a href="#" class="swiper-slide relative h-full w-full md:max-h-max">
                    <img src={img} alt="" width="697" height="435" class="h-full w-full object-cover" />
                </a>
            ))
        }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination -translate-y-1 md:-translate-y-6"></div>
</div>
