---
const logoList = [
    {
        title: '独自のストーリー',
        logos: [
            '/logos/Amoy1.png',
            '/logos/TBH1.png',
            '/logos/TCH1.png',
            '/logos/TOH1.png',
            '/logos/Calile.png',
            '/logos/Kurrajong.png',
            '/logos/Savoy.png',
            '/logos/Britomart.png'
        ]
    },
    {
        title: 'ライフスタイル',
        logos: [
            '/logos/rsz_oasia1.png',
            '/logos/rsz_quincy1.png',
            '/logos/rsz_1rendezvous.png',
            '/logos/rsz_vibe1.png'
        ]
    },
    {
        title: '地域体験',
        logos: ['/logos/Village1.png', '/logos/Travelodge1.png']
    },
    {
        title: 'ホームリビング',
        logos: ['/logos/Adina1.png', '/logos/OPS1.png', '/logos/OSR1.png']
    },
    {
        title: 'ホテルリビング',
        logos: ['/logos/rsz_abyadina1.png']
    },
    {
        title: '系列ブランド',
        logos: ['/logos/Sino-Hotels.png', '/logos/rsz_fullerton1.png']
    }
];
---

<div class="grid gap-10 md:gap-4">
    {
        logoList.map(item => (
            <div class="grid items-center gap-5 md:grid-cols-[auto_1fr] md:gap-14">
                <h3 class="text-sm font-400 leading-normal tracking-wide text-color4">{item.title}</h3>
                <div class="flex flex-wrap items-center justify-start gap-7">
                    {item.logos.map(logo => (
                        <img src={logo} alt="" width="85" height="70" class="" />
                    ))}
                </div>
            </div>
        ))
    }
</div>
