@using FEO.CMS.HBG.Core.Blocks.Oasia;
@model HBGBackToTopBlock


<div class="gotobar-section scrollto scrollto-backtotop">
    <a href="#oasia-app" id="tag-back-to-top">
        @DictionaryHelper.DictionaryEntry(DictionaryKeys.BackToTop)
        <br>
        <svg width="8px" height="5px" class="vec-chev-up">
            <path fill-rule="evenodd" fill="rgb(199, 194, 186)"
                  d="M-0.000,3.806 L1.250,4.997 L4.000,2.378 L6.750,4.997 L8.000,3.806 L4.000,-0.001 L-0.000,3.806 Z" />
        </svg>
    </a>
    <div class="demark-bar">
        <span class="box"></span>
        <span class="horiz-bar"></span>
    </div>
</div>