<form id="contact-form" class="grid w-full max-w-[38.75rem] gap-5 justify-self-center">
    <span class="form_error">必須項目を入力してください</span>
    <!-- Surname -->
    <div class="input-group">
        <label for="surname" class="input-group__label">
            お名前 <span class="helper-text">必須</span>
        </label>

        <input type="text" id="surname" name="surname" class="input-group__input" placeholder="TANAKA" />

        <span class="input-group__error">必須項目を入力してください</span>
    </div>

    <!-- Name -->
    <div class="input-group">
        <label for="name" class="input-group__label">名（ローマ字 <span class="helper-text">必須</span></label>

        <input type="text" id="name" name="name" class="input-group__input" placeholder="TARO" />

        <span class="input-group__error">必須項目を入力してください</span>
    </div>

    <!-- Email -->
    <div class="input-group">
        <label for="email" class="input-group__label">メールアドレス <span class="helper-text">必須</span></label>

        <input type="email" id="email" name="email" class="input-group__input" placeholder="email@example.com" />

        <span class="input-group__error">必須項目を入力してください</span>
    </div>

    <!-- Telephone -->
    <div class="input-group">
        <label for="telephone" class="input-group__label">電話番号</label>

        <input type="tel" id="telephone" name="telephone" class="input-group__input" />

        <span class="input-group__error">必須項目を入力してください</span>
    </div>

    <!-- Inquiry -->
    <div class="input-group">
        <label for="inquiry" class="input-group__label">
            お問い合わせ種目 <span class="helper-text">必須</span>
        </label>

        <!-- Inquiry options -->
        <select id="inquiry" class="jp-dropdown">
            <option data-placeholder="true" data-placeholdertext="選択してください"></option>
            <option value="東京">東京</option>
            <option value="横浜">横浜</option>
            <option value="福岡">福岡</option>
        </select>

        <span class="input-group__error">必須項目を入力してください</span>
    </div>

    <!-- Accommodation -->
    <div class="input-group">
        <label for="accommodation" class="input-group__label">
            宿泊施設 <span class="helper-text">必須</span>
        </label>

        <!-- Accommodation options -->
        <select id="accommodation" class="jp-dropdown">
            <option data-placeholder="true" data-placeholdertext="該当するものすべてを選択"></option>
            <option value="東京">東京</option>
            <option value="横浜">横浜</option>
            <option value="福岡">福岡</option>
        </select>

        <span class="input-group__error">必須項目を入力してください</span>
    </div>

    <!-- Inquiry content -->
    <div class="input-group">
        <label for="inquiry-content" class="input-group__label">
            お問い合わせ内容 <span class="helper-text">必須</span>
        </label>

        <!-- Textarea -->
        <textarea
            id="inquiry-content"
            name="inquiry-content"
            class="input-group__input"
            rows="9"
            placeholder="お問い合わせ内容をご入力ください"></textarea>

        <span class="input-group__error">必須項目を入力してください</span>
    </div>

    <!-- Consent text -->
    <p class="mt-4 leading-8 tracking-wide">
        私は本フォームの提出を以って、ファーイースト・オーキッド・グループ（ファーイースト・ホスピタリティを含む）の全ての部門と組織、ならびにそのサービス会社と代理店が、本フォームにより提出された問い合わせに対応・処理するために、本フォームに含まれる全ての個人情報ならびにその他の方法で私から収集された個人情報を収集、使用、開示することを承認します。私はまた、上述の収集、使用、開示の過程で、関連する個人情報がシンガポール以外の国に転送されることがあることも承認します。
        <br /><br />
        弊社の個人情報の取り扱い方法についての詳細は、弊社の <a
            class="text-color1 underline decoration-1 underline-offset-4"
            href="/privacy-policy"
        >
            プライバシーポリシー
        </a>をご覧下さい。
    </p>

    <!-- Captcha -->
    <div id="form-captcha" class="input-group mt-2 grid justify-items-center justify-self-center md:mt-3">
        <div class="g-recaptcha" data-sitekey="6LewjccqAAAAAMqisrW19KxQGie4MAI-ZcAqdHfn"></div>

        <span class="input-group__error">Captchaを完成させてください</span>
    </div>

    <!-- Form action buttons -->
    <div class="mt-3 flex flex-wrap items-center justify-center gap-4 md:mt-5">
        <a
            href="/contact"
            id="reset"
            type="button"
            class="button w-full max-w-[18.87rem] !border-color2 !bg-transparent !text-color2"
            >戻る
        </a>
        <button class="button w-full max-w-[18.87rem]" type="submit">
            内容を送信する
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <path
                    d="M10.7957 7.99957L6.45074 3.65459C6.33614 3.54 6.28034 3.40358 6.28332 3.24534C6.2863 3.08711 6.34508 2.95064 6.45968 2.83595C6.57427 2.72136 6.71069 2.66406 6.86893 2.66406C7.02716 2.66406 7.16363 2.72136 7.27832 2.83595L11.6942 7.26082C11.7985 7.36513 11.8757 7.48198 11.926 7.61138C11.9764 7.74078 12.0015 7.87018 12.0015 7.99957C12.0015 8.12897 11.9764 8.25837 11.926 8.38777C11.8757 8.51717 11.7985 8.63402 11.6942 8.73833L7.26938 13.1632C7.15478 13.2778 7.01986 13.3336 6.8646 13.3306C6.70924 13.3276 6.57427 13.2688 6.45968 13.1543C6.34508 13.0397 6.28779 12.9032 6.28779 12.745C6.28779 12.5868 6.34508 12.4503 6.45968 12.3356L10.7957 7.99957Z"
                    fill="white"></path>
            </svg>
        </button>
    </div>
</form>
