---
export interface Props {
  title: string;
}
---

<div class="hotel-listing-heading-container ">
  <h2 class="hotel-listing-heading">{Astro.props.title}</h2>
  <div class="flex flex-col items-center">
    <div class="header-divider"></div>
  </div>
</div>
