---
import SwiperImage from "./SwiperImage.astro";
import SliderInfo from "./SliderInfo.astro";

export interface Props {
  hotel: {
    title: string;
    enTitle: string;
    description: string;
    address: string;
    tel: string;
    email: string;
    images: string[];
    detailLink: string;
  };
  layout: "left" | "right";
}
---

<div
  class={`flex flex-col md:flex-row ${
    Astro.props.layout === "right" ? "md:flex-row-reverse" : ""
  } items-center hotel-listing-item`}
>
  <!-- Swiper Image Component -->
  <div class="w-full md:w-1/2">
    <SwiperImage images={Astro.props.hotel.images} />
  </div>

  <!-- Slider Info Component -->
  <div class="w-full md:w-1/2 hotel-info-container">
    <SliderInfo {...Astro.props.hotel} />
  </div>
</div>
