  <div class="flex justify-center items-center my-8">
  <button class="view-more-button">
    全て表示する
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
      <path d="M7.99786 10.8223L12.3428 6.47735C12.4574 6.36275 12.5939 6.30695 12.7521 6.30993C12.9103 6.31291 13.0468 6.37169 13.1615 6.48629C13.2761 6.60088 13.3334 6.7373 13.3334 6.89554C13.3334 7.05378 13.2761 7.19024 13.1615 7.30493L8.73661 11.7209C8.63231 11.8251 8.51546 11.9023 8.38606 11.9526C8.25666 12.003 8.12726 12.0282 7.99786 12.0282C7.86846 12.0282 7.73907 12.003 7.60967 11.9526C7.48027 11.9023 7.36342 11.8251 7.25911 11.7209L2.83424 7.29599C2.71965 7.18139 2.66384 7.04647 2.66682 6.89121C2.6698 6.73586 2.72859 6.60088 2.84318 6.48629C2.95778 6.37169 3.09419 6.3144 3.25243 6.3144C3.41067 6.3144 3.54713 6.37169 3.66182 6.48629L7.99786 10.8223Z" fill="black"/>
    </svg>
  </button>
</div>
  