---
const { heading, description, image } = Astro.props;
---

<section class="banner-section relative h-full w-full">
    <img class="banner-image h-full w-full object-cover" src={image} alt="banner-image">
    <div class="banner-overlay">
      <h1 class="banner-heading">{heading}</h1>
      <h2 class="banner-subheading">{description}</h2>
    </div>
</section>