<!-- Cookie consent -->
<div id="cookie-banner" class="fixed bottom-0 left-0 z-10 hidden w-full bg-color13 py-4 shadow-shadow1">
    <div class="container flex w-full items-center justify-center gap-4 sm:gap-6">
        <p class="text-sm">
            This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies. <a
                href="/cookie-policy"
                class="text-sm font-500 underline decoration-color9 underline-offset-4 transition-all duration-500 hover:text-color1 hover:decoration-color1"
                >Learn more</a
            >.
        </p>
        <button type="button" class="button !px-4 !py-2 text-sm">Continue</button>
    </div>
</div>
