.btnScrollTop {
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 50%;
    bottom: 30px;
    cursor: pointer;
    pointer-events: none;
    height: 60px;
    overflow: hidden;
    position: fixed;
    right: 40px;
    width: 60px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    transform: translate(calc(100% + 40px), calc(100% + 40px));
}
.btnScrollTop.activated {
    pointer-events: auto;
    transform: translate(0, 0);
}
.btnScrollTop:before,
.btnScrollTop:after {
    background: url('/icons/icon_arrow_up.svg') center center no-repeat;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 100%;
}
.btnScrollTop:after {
    opacity: 0;
    top: 80%;
}
.btnScrollTop:hover {
    background-color: var(--color1);
}
.btnScrollTop:hover:before {
    transform: translateY(-70%);
    opacity: 0;
}
.btnScrollTop:hover:after {
    top: 0;
    opacity: 1;
}
@media screen and (max-width: 1440px) {
    .btnScrollTop {
        height: 45px;
        right: 7px;
        width: 45px;
    }
}
@media screen and (max-width: 1199px) {
    .btnScrollTop {
        right: 18px;
    }
}