.deals-listing {
    &.white,
    &.grey {
        background-color: var(--color13);
        color: var(--color9);

        .header-divider {
            background: var(--color1);
        }
    }

    &.white {
        background-color: var(--color4);
    }

    &.gold {
        background-color: var(--color1);
        color: var(--color4);

        h2 {
            color: var(--color4);
        }

        .header-divider {
            background: var(--color4);
        }
    }

    .deals-swiper {
        padding-bottom: 48px;

        .single-deal {
            justify-content: center;

            .swiper-slide {
                margin-right: 0 !important;
            }
        }
    }

    .deals-swiper .swiper-pagination-bullets {
        bottom: -35px;
    }

    .deals-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: var(--color4);
        position: relative;

        .deals-img-wrapper {
            position: relative;

            .deals-label {
                display: flex;
                padding: 6px 9px;
                align-items: center;
                gap: 5px;
                position: absolute;
                left: 10px;
                top: 10px;
                border-radius: 50px;
                background: #e56565;
                box-shadow: 2px 4px 15px 0px rgba(0, 0, 0, 0.1);
                color: var(--color4);
                font-size: 14px;
                font-weight: 500;
                line-height: 22.061px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .deals-label.red {
                background-color: var(--color14);
            }

            .deals-label.black {
                background-color: var(--color3);
            }

            img {
                width: 384px;
                height: 231px;
            }
        }

        .deals-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            flex-grow: 1;

            .deals-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                flex-grow: 1;
                flex-shrink: 0;
                padding: 0 20px;

                .deals-info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;

                    .deals-title,
                    .deals-description {
                        color: var(--color9);
                    }

                    .deals-title {
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 0.9px;
                    }

                    .deals-description {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 25px;
                    }

                    .deals-badges {
                        display: inline-block;

                        .badge {
                            display: inline-block;
                            margin: 6px 6px 6px 0;
                            padding: 4px 16px;
                            border-radius: 50px;
                            border: 1px solid var(--color11);
                            color: var(--color11);
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }
                }

                .details-button-wrapper {
                    padding: 20px 0;

                    .details-button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        padding: 16px 24px 16px 40px;
                        height: 44px;
                        max-width: 170px;
                        background: var(--color3);
                        color: var(--color4);

                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    .view-all {
        display: flex;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: center;

        .view-all-link {
            color: var(--color4);
            border: 1.5px solid var(--color4);
            padding: 16px 0px;
            display: flex;
            width: 223px;
            max-width: 247px;
            padding: 16px 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .view-all-link svg path {
            fill: var(--color4);
        }
    }
}

@media (max-width: 768px) {
    .deals-listing {
        .deals-swiper .swiper-wrapper {
            justify-content: center;
        }

        .deals-card {
            .deals-content {
                .deals-title {
                    font-size: 17px;
                    letter-spacing: 0.85px;
                }
                .deals-description {
                    font-size: 15px;
                }
            }
        }

        .swiper-pagination-bullet-active {
            background: var(--color4);
        }
    }
}
