@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.hotel-amenities-list {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;

    .hotel-amenities-list-container {

        .amenities-groups {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;

            .amenities-group-row {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;

                .amenities-group {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5rem;

                    .amenities-title {
                        color: var(--color9);
                        font-size: 1.25rem;
                        font-weight: var(--500);
                        display: flex;
                        gap: 1rem;

                        .amenities-title-slash {
                            display: block;
                            width: 0.125rem;
                            height: 1.75rem;
                            transform: rotate(45deg);
                            background: var(--color6);
                        }
                    }

                    .amenities-list {
                        list-style: none;
                        padding: 0;

                        li {
                            margin-bottom: 0.5rem;
                            color: var(--color11);
                            font-size: 1rem;
                            font-weight: var(--400);
                            line-height: 2rem;

                            &::before {
                                content: '•';
                                color: var(--color5);
                                margin-right: 0.5rem;
                                width: 0.25rem;
                                height: 0.25rem;
                            }
                        }
                    }
                }
            }
        }

        .amenities-divider {
            height: 0.0625rem;
            align-self: stretch;
            background: var(--color15);
        }
    }

    @include media-breakpoint-down(md) {
        .hotel-amenities-list-container {

            .amenities-groups {
                gap: 1.5rem;

                .amenities-group-row {
                    padding: 0;
                    flex-direction: column;
                    gap: 1.5rem;

                    .amenities-group {
                        gap: 1rem;

                        .amenities-title {
                            font-size: 1.125rem;
                            letter-spacing: 0.05625rem;
                            gap: 0.7rem;

                            .amenities-title-slash {
                                height: 1.25rem;
                            }
                        }

                        .amenities-list {
                            li {
                                font-size: 0.9375rem;
                                line-height: 1.875rem;
                            }
                        }
                    }
                }

                .hidden-row {
                    display: none;
                }
            }

            .show-more-container {
                .show-more-button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.25rem;
                }
            }
        }
    }
}
