.highlight-container {
    &.bg-white {
        background-color: var(--color4);
        color: var(--color9);

        .header-divider {
            background: var(--color1);
        }

        .hotel-info-button {
            background: var(--color1);
            color: var(--color4);
        }
    }

    &.bg-grey {
        background-color: var(--color13);
        color: var(--color9);

        .header-divider {
            background: var(--color1);
        }

        .hotel-info-button {
            background: var(--color1);
            color: var(--color4);
        }
    }

    &.bg-gold {
        background-color: var(--color1);
        color: var(--color4);

        div,
        h1,
        h2,
        p,
        a,
        button {
            color: var(--color4);
        }

        .show-all-button {
            border: 1.5px solid var(--color4);
            padding: 16px 0px;
            display: flex;
            width: 223px;
            max-width: 247px;
            padding: 16px 0px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .show-all-button svg path {
            fill: var(--color4);
        }

        .header-divider,
        .hotel-info-divider {
            background: var(--color4);
        }

        .hotel-en-title {
            color: var(--color4);
        }

        .hotel-info-button {
            background: transparent;
            border: 1px solid var(--color4);
            color: var(--color4);
        }
    }
}

.hotel-listing,
.hotel-listing .hotel-listing-item {
    gap: 100px;
}

.hotel-info-container {
    width: 500px;
}

.hotel-title {
    font-size: 24px;
    font-weight: var(--500);
    line-height: 50px;
    letter-spacing: 1.2px;
}

.hotel-en-title {
    color: var(--color1);
    font-size: 16px;
    font-weight: var(--400);
    line-height: 24px;
    letter-spacing: 0.8px;
}

.hotel-description {
    color: var(--color11);
    font-size: 16px;
    font-weight: var(--400);
    line-height: 32px;
}

.hotel-info-divider-container {
    gap: 22px;
    flex-shrink: 0;
}

.hotel-info-divider {
    height: 1px;
    opacity: 0.2;
    background: var(--color11);
}

.hotel-info {
    color: var(--color11);
    display: flex;
    align-items: center;
    gap: 18px;
}

.hotel-info-title {
    color: var(--color11);
    font-size: 14px;
    font-weight: var(--500);
    line-height: 29px;
    width: 48px;
}

.hotel-info-content,
.hotel-info-content a {
    color: var(--color11);
    font-size: 14px;
    font-weight: var(--400);
    line-height: 29px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.hotel-info-button {
    display: flex;
    width: 241px;
    max-width: 247px;
    padding: 16px 24px 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--color1);
    color: var(--color4);
    font-size: 16px;
    font-weight: var(--500);
    text-decoration: none;
}

.hotel-info-button svg {
    width: 16px;
    height: 16px;
}

.show-all-button {
    color: var(--color11);
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotel-listing-item .swiper-container {
    height: 542px;
}

.hotel-listing-item .swiper-button-prev {
    left: 0px;
}

.hotel-listing-item .swiper-button-next {
    right: 0px;
}

.hotel-listing-item .swiper-button-prev,
.hotel-listing-item .swiper-button-next {
    width: 60px;
    height: 60px;
    color: var(--color4);
}

.hotel-listing-item .swiper-button-prev svg,
.hotel-listing-item .swiper-button-next svg {
    width: 100%;
    height: 100%;
    color: var(--color4);
}

.hotel-listing-item .swiper-button-next:after,
.hotel-listing-item .swiper-button-prev:after {
    display: none;
}

.swiper-pagination-bullet {
    background: var(--color12);
    opacity: unset;
}

.hotel-listing-item .swiper-pagination-bullet-active {
    background: var(--color4);
}

.show-all-button-container {
    padding: 3rem;
}

.hotel-listing.hotel-listing-padding {
    padding: 60px 0;
}

.hotel-listing-padding .hotel-listing-item {
    gap: 80px;
}

.hotel-listing-padding .hotel-info-container .hotel-info-button {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .hotel-listing {
        gap: 40px;
    }

    .hotel-listing .hotel-listing-item {
        gap: 20px;
    }

    .hotel-listing .hotel-listing-item .swiper-container {
        height: 256px;
    }

    .hotel-info-container {
        width: 100%;
    }

    .hotel-info-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hotel-title {
        text-align: center;
        font-size: 22px;
        font-weight: var(--500);
        letter-spacing: 1.1px;
    }

    .hotel-en-title {
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        font-weight: var(--400);
        line-height: 24px;
        letter-spacing: 0.8px;
    }

    .hotel-description {
        font-size: 15px;
        line-height: 30px;
    }

    .hotel-info-button {
        width: auto;
        max-width: 100%;
        height: 52px;
    }

    .hotel-listing-item .swiper-button-next,
    .hotel-listing-item .swiper-button-prev {
        display: none;
    }

    .hotel-listing-padding .hotel-info-container .hotel-info-button {
        margin-top: 0px;
    }
}
