/* Hide modal initially */
#custom-modal {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);

    .modal-container {
        opacity: 0;
        transform: translateY(100%);
        transition: all 0.4s ease-in-out;
    }

    &.show {
        opacity: 1;

        .modal-container {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.hide {
        opacity: 0;

        .modal-container {
            opacity: 0;
            transform: translateY(100%);
        }
    }
}
