@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.section {
    margin-top: 3.75rem;
    width: 100%;

    @include media-breakpoint-up('md') {
        margin-top: 5rem;
    }

    @include media-breakpoint-up('xl') {
        margin-top: 6.25rem;
    }
}

// .breadcumb-section {
//     margin-top: 3rem;

//     @include media-breakpoint-up('md') {
//         margin-top: 2rem;
//     }
// }