---
const { heading, description, images } = Astro.props;
---

<main class="relative grid min-h-[37rem] md:min-h-[45rem] xl:min-h-[45rem]">
    <div class="container pointer-events-none relative z-[3] grid h-full content-center justify-items-center gap-8">
        <h1 class="max-w-[55rem] text-center">{heading}</h1>
        {
            description && (
                <p
                    class="max-w-[30rem] text-center text-sm font-500 leading-7 tracking-wider text-color4 md:text-lg md:leading-9"
                    set:html={description}
                />
            )
        }
    </div>

    <div class="masthead-swiper absolute left-0 top-0 z-[2] h-full w-full overflow-hidden">
        <div class="swiper-wrapper">
            {
                images.map(image => (
                    <div class="swiper-slide h-full w-full">
                        <img src={image} alt="" width="1024" height="683" class="h-full w-full object-cover" />
                    </div>
                ))
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination -translate-y-4 md:-translate-y-6"></div>
    </div>
</main>
