@model PageViewModel<HBGHotelBrandPage>

<div class="about-hotel section container">
    <div class="about-hotel-content brand-content">
        <div class="row">
            <div class="col-sm-4 text-center">
                @Html.PropertyFor(x => x.CurrentPage.LogoImage)
            </div>
            <div class="col-sm-8">
                @Html.PropertyFor(x => x.CurrentPage.MainContent)
            </div>
        </div>
    </div>
</div>