<div class="btn-summary"><span class="t1">@DictionaryHelper.DictionaryEntry(DictionaryKeys.Summary)</span></div>
<div class=" widget-menu-summary">
	<h3 class="widget-title">@DictionaryHelper.DictionaryEntry(DictionaryKeys.Summary)</h3>
	<ul class="menu-summary"></ul>
</div>