@model HBGStaycationBreadcrumbBlock

@{
    var model = BreadcrumbHelper.GetBreadcrumb(PageRouteHelper.PageLink);
    <ul>
        @*<li><a href="/">Home</a></li>*@
        @for (int index = 0, count = model.Count(); index < count; ++index)
        {
            var item = model.ElementAt(index);
            if ((index + 1) == count)
            {
                <li class="active">@BreadcrumbHelper.GetBreadcrumbName(item)</li>
                break;
            }
            @*  if (item is HBGStayFarEastFolderPage)
    {
    <li>@GetBreadcrumbName(item)</li>
    continue;
    }*@
            <li>
                <a itemprop="item" href="@Url.ContentUrl(item.LinkURL)">
                    @BreadcrumbHelper.GetBreadcrumbName(item)
                </a>
            </li>
        }
    </ul>
}