---
const { className, bgColor } = Astro.props;
---
<section class={`${className} ${bgColor}`}>
    <div class={`${className}-container pt-10 pb-10`}>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">重要なお知らせ</h2> 
            
            <!-- Indented numbering for 1.1 -->
            <div class="pl-0 md:pl-8">
                <h2 class="text-base font-medium terms-subheading mb-3">1.1 収集する情報の種類</h2>
                <p class="text-base font-normal terms-description leading-relaxed">
                    以下の利用規約は本ウェブサイトへのアクセスと利用に対して適用されます。かかる利用規約は、事前の通知なく適時（下記で定義される）グループにより改訂される場合があります。お客様は本ウェブサイトにアクセスまたは利用する度に、利用規約を注意深くお読み頂く必要があります。利用規約の全文を受け入れられない場合は、直ちに本ウェブサイトへのアクセスを中止して下さい。本ウェブサイトに引続きアクセスまたは利用することで、利用規約の全資を読み、内容に同意したものと見なされます。
                </p>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">グループによる保証の否認</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6">
                    <li class="pl-1">
                        本ウェブサイトは一定期間毎に更新されるため、グループの製品、サービス、施設またはその他の内容に関連する詳細や情報、データが最新のものではない場合があります。本ウェブサイトで「グループ」「弊社」「私共」あるいは「弊社の」と言及されている部分は、ファースト・キー・チャーチ（以下、「弊社」）としての本会社および関連会社のいずれか、またはすべてを指すものとします。グループは本ウェブサイトの全ての情報を保証しません。
                    </li>
                    <li class="pl-1">
                        グループは、本ウェブサイトまたは本ウェブサイト内の全ての情報、データ、資料、設備に関するいかなる保証も、明示または黙示を問わず一切しないものとします。特に、コンピューター・ウイルスや不正、破壊的なコード、エージェント、プログラム、マクロまたはエフェクト、ウェブサイトを経由した転送、または本ウェブサイトを離れたあらゆる情報はグループに提供された情報の安全性、または本ウェブサイトの正確性、適切性、完全性を保証しません。
                    </li>
                    <li class="pl-1">
                        グループは明らかな関連性に基づき本ウェブサイトへのハイパーリンクを設定するウェブサイトを選択しており、かかるウェブサイトの内容に関する責任、保証、監督は行っていません。ハイパーリンクは、グループが、ハイパーリンクが追加されたウェブサイトを推奨していることを示すものではありません。またグループは、本ウェブサイトを通じてお客様がアクセスするハイパーリンク先のかかるウェブサイトについていかなる表現、保証も行いません。
                    </li>
                </ol>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">法的条項およびグループによる承諾</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6" start="4">
                    <li class="pl-1">
                        グループがグループの権利を有する製品、サービス、施設に適用されると明示的に規定する利用規約のみが、かかる製品、サービス、施設に対する法的拘束力、ならびに特定の製品、サービス、施設を構成するグループ内関連会社に対する法的拘束力を有します。かかる製品、サービス、設備に関する本ウェブサイト内のマーケティング、プロモーション、その他情報で、かかる両方の契約条件を反映していないものは、情報提供のみを目的に掲載されており、一切の法的効力を有さないものとします。当該利用規約において、グループは特定の製品、サービス、設備に適用する特定の契約条件を、グループが適用するウェブサイトに掲載する場合があります。その場合、かかる契約条件は、従来の利用規約と同様に、お客様に対する法的拘束力を有します。
                    </li>
                    <li class="pl-1">
                        グループ内の業務や商業、またはグループが維持する製品、サービス、設備に対してお客様が行う申し込みは、それらが本ウェブサイトを経由して転送／印刷されたものであるかどうかを問わず、グループあるいはグループ内の関連企業（適用の場合）の裁量的な全面での承認に基づきものとします。また、グループおよびかかる関連企業の独自の判断により、申し込みが変更または拒否される場合があります。グループは申し込みの不正に関する通知またはその理由の説明を行う責任を負いません。グループの法的義務または規範として受け入れられる際、あるいはグループ内の共に業務内容の申し込みや、グループの製品、サービス、設備の利用を許可する際は、グループの特権条件を満たし、全ての支払要素を満たし、グループのその他利用規約を順守し、グループが求める全ての文書を作成する必要があります。
                    </li>
                    <li class="pl-1">
                        グループが本ウェブサイト内で提供する製品、サービス、施設の使用に関する承諾は、かかる製品、サービス、施設（組合によって全てを含む、あるいは含まない場合がある）を管理するグループ内で表示、法的な利用規約がオランダポート法の基準に基づくものとします。お客様はグループまたはグループ内の（適用する）関連会社からのかかる製品、サービス、設備を利用する際に、全てのかかる法的利用規約を確認し、内容を受諾した上で（利用に関する）決定を行う必要があります。かかる製品、サービス、施設にアクセスまたは使用することで、お客様は全てのかかる法的利用規約を読み、内容に同意したと見なされます。
                    </li>
                </ol>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">投資の提案または助言の否認</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6" start="7">
                    <li class="pl-1">
                        本ウェブサイトに掲載される情報ならびに資料は一般的性質のものであり、本ウェブサイトにおいてグループが法務、税金、投資などに関する助言を行うことはありません。商業、ビジネス、または投資に関連した決定に関わる、グループからの言葉または短文として解釈される内容は本ウェブサイトに一切ありません。お客様は本ウェブサイト内で提供される情報と掲示に関連する行動を実施する前に、各自で専門家による助言、または金融面での助言を得る必要があります。また、シンガポールやその他地域で公開株式への投資を行う際は、リスクを伴う点についてご注意下さい。
                    </li>
                </ol>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">グループによる責任の否認</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6" start="8">
                    <li class="pl-1">
                        お客様は電子メールまたはインターネット上でのその他電子通信は機密ではなく、(a) 第三者による許可されていないデータの傍受、コピー、記録、妨害、紛失、または修正、ならびに(b) お客様または第三者の電子機器、コンピュータ、マイクロプロセッサ等、および通信システムを使用した際に発生した損失や問題が原因による紛失や変更に関わるリスクが常にあることに同意するものとします。
    
                        <p class="mt-4">
                            さらにお客様はかかるリスクを負った結果として申し立てに対して、グループは一切責任を負わないことに同意するものとします。お客様は本ウェブサイトおよび本ウェブサイトにハイパーリンクのあるウェブサイトへのアクセス・使用を、お客様自身のリスクにおいて行うことに同意するものとします。
                        </p>
    
                        <p class="mt-4">
                            グループはいかなる状況においても（グループの役員または従業員による違法、作為、不作為を含むがこれらに限定されない）契約、過失、不法行為または以下に起因・関連して発生する損失、損害、費用、経費など（利益の喪失や事業の中断を含む直接的、間接的、付随的、結果的、特別、およびいかなる経済的損失を含むがこれらに限定されない）について一切責任を負いません：
                        </p>
    
                        <!-- Sublist with letters -->
                        <ul class="list-[lower-alpha] pl-6 md:pl-8 space-y-3 mt-4">
                            <li class="pl-1">
                                本ウェブサイトおよび本ウェブサイトにハイパーリンクのあるウェブサイトへのアクセス・使用またはアクセス・使用できないこと、または本ウェブサイトおよび本ウェブサイトにハイパーリンクのあるウェブサイトへのアクセス・使用の遅延・中断；
                            </li>
                            <li class="pl-1">
                                本ウェブサイトおよび本ウェブサイトにハイパーリンクのあるウェブサイトに含まれる製品、サービス、設備、情報、資料、写真、デザイン、絵、またはその他内容の使用あるいはそれらへの依存；
                            </li>
                            <li class="pl-1">
                                ネットワーク、回線、サーバーシステムに関する動作妨害、エラー、遅滞、不具合、または、本ウェブサイトのアクセスに使用したコンピューターハードウェアまたはソフトウェアのコンピュータウイルス、破壊的なコード、エージェント、プログラム、マクロ、何らかの効力や悪影響の感染；または、
                            </li>
                            <li class="pl-1">
                                本ウェブサイトおよび本ウェブサイトにハイパーリンクのあるウェブサイトにより、お客様またはグループに送信される情報の機密性や安全性の欠如によるアクセス。
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">ウェブサイトならびにグループのサービスへのアクセス</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6" start="9">
                    <li class="pl-1">
                        グループが本ウェブサイト内および本ウェブサイトにハイパーリンクのあるウェブサイト内で提示する仕事、職務、製品、サービス、施設に関する資格要件、またあらゆる権限における法律、規則、方針の枠組みあるいは責任により、グループは特定の管轄内において特定の人物に対してあらかる仕事、職業、製品、サービス、施設の提供を行えない場合があります。かかる仕事、職業、製品、サービス、施設に関心のある方は、追加およびその他の専門アドバイザー、ならびにグループに確認を行うようにして下さい。
                    </li>
                    <li class="pl-1">
                        本ウェブサイトへのアクセスおよび／あるいは本ウェブサイトでグループが提供している製品、サービス、施設を使用することで、シンガポール裁判所が特別管轄権を有することに同意したものと見なされます。本ウェブサイトへのアクセスと利用、およびかかる利用規約は、シンガポール法に準拠して解釈されます。
                    </li>
                    <li class="pl-1">
                        本ウェブサイトへのお客様のアクセスまたは利用が違法あるいは非合法であるか、お客様の居住国あるいは管轄国の法律で制限されている場合は、直ちにアクセスと使用を中止し、（適用される）制限に順守して下さい。
                    </li>
                    <li class="pl-1">
                        （電子メールまたはその他方法により）本ウェブサイトでのあらゆる収集またはグループに提出されたすべての情報およびデータはグループの所有物であり、グループはシンガポールの法律に従いかかる情報とデータを合法的な目的で使用し、グループのデータ保護および個人情報保護に関する方針内においてはこれら情報とデータを認められた人に開示できるものとします。かかる情報とデータ、およびかかる情報とデータに含まれるアイデア、意念、ノウハウ、技術は、法律にの提起をあるものと認め、秘密保持義務およびかかる情報保護データに関するその他制限に制約されないものとします。
                    </li>
                    <li class="pl-1">
                        グループによる法的拘束力のある提供は一切保証・表明を行わないものとし、法的拘束力はありません。何らの形のかかる不保証・承諾を行わないことを意味します。利用規約に従い変更・行動するグループの権利を擁するあるいは準備するものではありません。
                    </li>
                </ol>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">知的財産</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6" start="14">
                    <li class="pl-1">
                        本ウェブサイトの内容に関する著作権、商標、サービスマーク（登録／非登録を問わない）およびその他の知的財産は、グループまたは場合によってはそのコンサルタント、アドバイザー、または本ウェブサイトに明記されている第三者に完全に帰属します。
                    </li>
    
                    <p class="mt-4">
                        従って、本ウェブサイトおよび本ウェブサイトにハイパーリンクのあるウェブサイトの内容（写真、ロゴ、デザイン、絵を含む）のダウンロード、複製、掲載、修正、配布、再行、表示、放送、転送、保管、いかなる方法およびいかなるメディアにおいても、グループの明確な書面による許可を得ることは明確に禁止されています。お客様は個人用、非営利用、かつ適法な使用のみを目的として（つまり、グループが販売する製品、サービス、または設備を購入するかどうかを考慮することを目的として）、本ウェブサイトの内容をダウンロードすることを許可されています。開発を目的とするため、公的または商業目的、本ウェブサイトの文章、写真、画像、デザイン、動画、ロゴなどの内容を複製、修正、表示、販売、配布、およびその他方法で使用することを禁止されており、また、本ウェブサイト上のウェブページや情報を集積または蓄積する目的での複製や保存も含まれます。それらに限定されません。本ウェブサイトおよびその他ウェブサイトへのハイパーリンクを設定、本ウェブサイトにある情報その他の性質やトーンへ影響を与えない場合、グループまたは場合によってはグループの適法な事前許可を得ることに明確に禁止されています。
                        特にグループは不明、不快、事務的、わいせつ、違反に属した内容や意見が、情報、写真、または掲載される知的財産、所有物、またはハイパー情報に掲載されるものに対して、何の責任も負わないことを保証しません。特に、行為に準拠しません。グループの承認なしに、グループの独自的な判断により事実と相違を含むとして、損失または、グループが定める利用除外の対象となる条件をするものとします。
                    </p>
                </ol>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">セキュリティ</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6" start="15">
                    <li class="pl-1">
                        お客様は、本ウェブサイトの安全性に反する一切の行動を禁止されています。禁止される行動が下記に記載されますが、これらに限定されるものではありません：
    
                        <!-- Sublist with letters -->
                        <ul class="list-[lower-alpha] pl-6 space-y-3 mt-4">
                            <li class="pl-1">
                                脆弱性の調査、スキャン、検証またはシステムおよびネットワークの不正アクセス、適切な許可を付与されていない状態でのセキュリティと認証方法を回避する試み。
                            </li>
                            <li class="pl-1">
                                本ウェブサイトへのコンピューター・ウイルスの送信や、過負荷、「フローディング」「メールボム」「システムの破壊」などの方法で、別のユーザー、ホスト、ネットワークを（ただし、これらに限定されない）へのサービスを妨げる試み。
                            </li>
                            <li class="pl-1">
                                製品またはサービス等のプロモーションおよび/または広告を含むがこれらに限定されない未承諾のメールの送信および送信の許可。
                            </li>
                            <li class="pl-1">
                                通法、嫌がらせ、中傷的、虚偽的、過激的、危険、卑猥、わいせつな資料または、犯罪行為を助長する、または民事責任が発生する可能性のある、および適用される法律や規則を違反する可能性のある資料を、本ウェブサイトを通じて送受または送信の許可を行うこと。
                            </li>
                        </ul>
                        
                        <p class="mt-4">
                            システムまたはネットワーク・セキュリティの侵害、またはかかる利用規約の違反に対しては、民事責任または刑事責任が発生する可能性があります。グループはかかる違反に関する法執行当局に対し、かかる違反に関わる本ウェブサイトのユーザーを起訴することで問題の捜査を支援します。グループはかかる違反に対して、特定のインターネットアドレスからの本ウェブサイトへのアクセスをブロックする権利を含むがこれらに限定されない、法律上可能な全ての救済策や措置を求める権利を有します。
                        </p>
                        
                        <p class="mt-4">
                            お客様はグループ、その代表、役員、従業員に対するあらゆる訴求、負債、損害、要求、行動、訴訟、手順、命令、コスト、費用（すべての権限に関わる弁護士費用も含む）が生じないことを補償するものとします。またお客様によるかかる損害や影響は、グループが発表および実施した行為によるグループが被ったコストを含みます。
                        </p>
                    </li>
                    <li class="pl-1">
                        お客様が提供された情報、または本ウェブサイトに掲載された有害な情報に対する申し込みに対してグループが責任を持つ限り、お客様はかかる損害からグループが（適切な）関連と無縁でまたその他情報は、真実かつ正確で、最新のものであり、さらに完全なものであることを保証するものとします。
                    </li>
                </ol>
            </div>
        </div>
        <div class="max-w-4xl mx-auto pb-10">
            <h2 class="text-xl font-medium terms-heading mb-6">その他の規約</h2> 
            
            <div class="pl-6 md:pl-8">
                <ol class="list-decimal text-base font-normal terms-description space-y-6" start="17">
                    <li class="pl-1">
                        お客様から提供された情報、または本ウェブサイトに掲載される仕事または職務に対する申し込みに対してグループが検討する際、お客様はお客様がグループまたはグループ内の（適切な）関連企業に提供した全ての情報は、真実かつ正確で、最新のものであり、さらに完全なものであることを保証するものとします。
                    </li>
                    <li class="pl-1">
                        グループは本ウェブサイト内の情報およびデータを（グループによる本ウェブサイトに掲載されたものであるかどうかに関わらず）、事前の告知または通知なく更新および修正を独自の判断で行えるものとします。本ウェブサイトに表示されているグループの広告、職務、製品、サービス、施設は、グループの判断により提供されています。グループはかかる情報を予告なく、また理由を開示する必要なく随時修正、取消を行えるものとします。
                    </li>
                    <li class="pl-1">
                        万一お客様が利用規約に同意できない場合、お客様が行える唯一の対応は、本ウェブサイトへのアクセスを止めることならびに利用を直ちに中断することです。
                    </li>
                </ol>
            </div>
    
            <!-- Special Transaction Law Link -->
            <div class="mt-10">
                <a href="#" class="text-base font-medium leading-normal underline decoration-solid">
                    特定商取引法についてはこちらから
                </a>
            </div>

            <div class="terms-divider">
                <!-- Divider -->
            </div>
            <div class="terms-contact">
            <div class="terms-contact-info">
                <p class="text-base font-normal text-black">連絡先:</p>
                <p class="text-base font-normal text-black">株式会社ファーイースト・ホスピタリティ</p>
                <p class="text-base font-normal text-black">メール: <a class="text-black" href="mailto:privacy@example.com">privacy@example.com</a></p>
                <p class="text-base font-normal text-black">電話番号: <a class="text-black" href="tel:012-345-6789"></a> 012-345-6789</p>
            </div>
            <div class="contact-logo">
                <img src="/logos/fareast_vill_home.png" alt="Far East Village Hotel Logo">
            </div>
            </div>
        </div>
    </div>
</section>