---

---

<!-- Hotel filters section to  -->
<section id="hotel-filter" class="section">
    <div class="container grid gap-6 md:gap-14">
        <!-- Description -->
        <p class="text-center font-400">
            より素敵な滞在のための特別なオファーで、<br />最高に思い出深い体験をお届けします。
        </p>

        <!-- Filters -->
        <div class="hotel-filters flex items-center justify-center gap-4 md:gap-6">
            <!-- Country options -->
            <select id="country" class="jp-dropdown">
                <option value="東京" selected>東京</option>
                <option value="東京">東京</option>
                <option value="横浜">横浜</option>
                <option value="福岡">福岡</option>
                <option value="大阪">大阪</option>
                <option value="仙台">仙台</option>
                <option value="京都">京都- a</option>
            </select>

            <!-- Hotels options -->
            <select id="hotel-options" class="jp-dropdown">
                <option value="すべてのホテル" selected>すべてのホテル</option>
                <option value="ファーイーストビレッジホテル東京有明">ファーイーストビレッジホテル東京有明</option>
                <option value="ファーイーストビレッジホテル東京浅草">ファーイーストビレッジホテル東京浅草</option>
                <option value="ファーイーストビレッジホテル横浜">ファーイーストビレッジホテル横浜</option>
            </select>

            <!-- Hotels types -->
            <select id="hotel-types" class="jp-dropdown">
                <option value="全ての滞在タイプ" selected>全ての滞在タイプ</option>
                <option value="ビジネスホテル">ビジネスホテル</option>
                <option value="リゾートホテル">リゾートホテル</option>
                <option value="ブティックホテル">ブティックホテル</option>
                <option value="カプセルホテル">カプセルホテル</option>
            </select>
        </div>
    </div>
</section>
