---
const { title, subtitle, content, contentPosition } = Astro.props;

import SectionHeading from '../SectionHeading/index.astro';
---

<section class={`culture-section ${contentPosition} bg-grey`}>
  <div class="container">
    <!-- Heading Section -->
    <SectionHeading title={title} subtitle={subtitle} />
    <div class="section-content">
      <p>{content}</p>
    </div>
  </div>
</section>
