---
const { title, subtitle, content, contentPosition } = Astro.props;

import SectionHeading from '../SectionHeading/index.astro';
---

<section class={`culture-section ${contentPosition} bg-grey`}>
  <div class="container">
    <!-- Heading Section -->
    <SectionHeading title={title} subtitle={subtitle} />
    <div class="grid w-full max-w-[38.75rem] gap-5 justify-self-center">
      <p class="text-center">{content}</p>
    </div>
  </div>
</section>
