---
const { title, subtitle, className } = Astro.props;
---

<div class={`section-heading-container ${className}`}>
    <h2 class="section-title" set:html={title} />
    {subtitle && <h3 class="section-subtitle" set:html={subtitle} />}
    <div class="flex flex-col items-center">
        <div class="header-divider"></div>
    </div>
</div>
