---
const { images } = Astro.props;
---

<div class="swiper swiper-container w-full overflow-hidden shadow-lg">
  <div class="swiper-wrapper">
    {images.map((image) => (
      <div class="swiper-slide">
        <img src={image} alt="Hotel Image" class="w-full h-full object-cover" />
      </div>
    ))}
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
      <path d="M24.2606 30.0001L34.8756 19.3844C35.1098 19.1507 35.2348 18.8638 35.2506 18.5238C35.2669 18.1842 35.1419 17.8815 34.8756 17.6157C34.6098 17.3494 34.315 17.2163 33.9913 17.2163C33.6675 17.2163 33.3727 17.3494 33.1069 17.6157L22.1356 28.5863C21.9177 28.8046 21.7646 29.0276 21.6763 29.2551C21.5884 29.4826 21.5444 29.7309 21.5444 30.0001C21.5444 30.2692 21.5884 30.5176 21.6763 30.7451C21.7646 30.9726 21.9177 31.1955 22.1356 31.4138L33.1069 42.3844C33.3406 42.6186 33.6275 42.7436 33.9675 42.7594C34.3071 42.7757 34.6098 42.6507 34.8756 42.3844C35.1419 42.1186 35.275 41.8238 35.275 41.5001C35.275 41.1763 35.1419 40.8815 34.8756 40.6157L24.2606 30.0001Z" fill="white"/>
    </svg>
  </div>
  <div class="swiper-button-next">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
      <path d="M35.7394 30.0001L25.1244 19.3844C24.8902 19.1507 24.7652 18.8638 24.7494 18.5238C24.7331 18.1842 24.8581 17.8815 25.1244 17.6157C25.3902 17.3494 25.685 17.2163 26.0087 17.2163C26.3325 17.2163 26.6273 17.3494 26.8931 17.6157L37.8644 28.5863C38.0823 28.8046 38.2354 29.0276 38.3237 29.2551C38.4116 29.4826 38.4556 29.7309 38.4556 30.0001C38.4556 30.2692 38.4116 30.5176 38.3237 30.7451C38.2354 30.9726 38.0823 31.1955 37.8644 31.4138L26.8931 42.3844C26.6594 42.6186 26.3725 42.7436 26.0325 42.7594C25.6929 42.7757 25.3902 42.6507 25.1244 42.3844C24.8581 42.1186 24.725 41.8238 24.725 41.5001C24.725 41.1763 24.8581 40.8815 25.1244 40.6157L35.7394 30.0001Z" fill="white"/>
    </svg>
  </div>
</div>
