<section class="bg-color13">
    <form class="container grid gap-6 py-6 md:py-12 xl:py-14">
        <!-- Filter inputs -->

        <!-- Text -->
        <div class="grid justify-items-center gap-4">
            <a
                href="#"
                class="text-sm font-500 tracking-wide text-color11 underline decoration-color11 underline-offset-2 transition-all duration-500 hover:text-color1 hover:decoration-color1"
                >ご予約の確認・変更・キャンセル
            </a>

            <!-- Promo code -->
            <div class="input-group w-full max-w-[14rem]">
                <input
                    type="text"
                    id="promo-code"
                    name="promo-code"
                    class="input-group__input w-full placeholder:text-sm placeholder:!text-color11"
                    placeholder="プロモーションコードの入力"
                />
            </div>
        </div>
    </form>
</section>
