@model HBGMultiMediaCarouselFolderBlock

@if (Model != null)
{
    var multimedia = ContentLoader.GetChildren<HBGMultiMediaCarouselItemBlock>((Model as IContent)?.ContentLink);

    if (multimedia != null && multimedia.Any())
    {
        <div class="res-owl-carousel custom-nav-carousel owl-carousel s-nav s-loop__ s-dots" paramowl="margin=5px">
            @foreach (var item in multimedia)
            {
                if (item.Image != null)
                {
                    <div>
                        @if (item.VideoSource != null)
                        {
                            <div class="thumb-16-9 single_yt_owl" data-id="@Url.ContentUrl(item.VideoSource.Href)" data-video="autoplay=1&amp;controls=1&amp;mute=0">
                                <img class="lazy-hidden" data-lazy-type="image" data-lazy-src="@Url.ContentUrl(item.Image)" @* alt="//todo" *@ />
                                <span class="btnvideo"><i class="icon-play"></i></span>
                            </div>
                        }
                        else
                        {
                            <div class="thumb-16-9 ">
                                <img class="lazy-hidden" data-lazy-type="image" data-lazy-src="@Url.ContentUrl(item.Image)" @* alt="//todo" *@ />
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.Caption))
                        {
                            <div class="caption">@item.Caption</div>
                        }
                    </div>
                }
            }
        </div>
    }
}