@model HBGMemberRelatedTextBlock
----------
@if (PageRouteHelper.Page is HBGDealPage)
{
    var currentPage = PageRouteHelper.Page as HBGDealPage;
    @if (currentPage != null && currentPage.ShowMemberMessage && currentPage.MemberMessage != null)
    {
        var message = ContentLoader.Get<HBGMemberMessageBlock>(currentPage.MemberMessage);
        <div class="content-member-message">@Html.PropertyFor(x => message.MemberMessageDescription)</div>
    }
}