---
const { className, bgColor } = Astro.props;
import SectionHeading from '../SectionHeading/index.astro';
import AccessMapHead from './AccessMapHead.astro';
---
<section class={`${className} ${bgColor}`}>
    <div class={`${className}-container`}>
        <div id="location-map">
            <SectionHeading title="所在地・地図" />
            <AccessMapHead
                imageSrc="/assets/images/access_maps/location-map.png"
            />
            <div class="max-w-[var(--container-width)] mx-auto access-contact space-y-2">
                <div class="access-contact-container">
                  <div class="access-contact-item flex gap-8 md:gap-12">
                    <p class="w-20 md:w-40 shrink-0 md:text-center font-500">施設名</p>
                    <p>ファーストビレッジホテル東京有明</p>
                  </div>
                </div>
                <div class="access-contact-container bg-grey">
                  <div class="access-contact-item flex gap-8 md:gap-12">
                    <p class="w-20 md:w-40 shrink-0 md:text-center font-500">所在地</p>
                    <p>〒135-0063 東京都江東区有明1-2-43</p>
                  </div>
                </div>
                <div class="access-contact-container">
                  <div class="access-contact-item flex gap-8 md:gap-12">
                    <p class="w-20 md:w-40 shrink-0 md:text-center font-500">TEL</p>
                    <p>03-6271-0337</p>
                  </div>
                </div>
              </div>
              
        </div>
        <div class="container" id="train">
            <SectionHeading title="電車をご利用の場合" />
            <div class="access-divider">
                <!-- Divider -->
            </div>
            <AccessMapHead 
                className="access-map-item"
                title="ゆりかもめ・有明テニスの森駅から"
                googleMapLink="https://www.google.com/maps"
                listItems={[
                    "A2出口から徒歩3分"
                ]}
                youtubeVideoId="TVPkcUMYKbM?si=fX6QAFkurlgUJ8Bv"
            />
            <div class="access-divider">
                <!-- Divider -->
            </div>
            <AccessMapHead 
                className="access-map-item"
                title="りんかい線・国際展示場駅から"
                googleMapLink="https://www.google.com/maps"
                listItems={[
                    "C10出口から徒歩15分"
                ]}
                imageSrc="/assets/images/access_maps/train-map-2.png"
            />
        </div>
        <div class="container" id="airport">
            <SectionHeading title="空港からお越しの場合" />
            <div class="access-divider">
                <!-- Divider -->
            </div>
            <AccessMapHead 
                className="access-map-item"
                title="羽田空港から"
                googleMapLink="https://www.google.com/maps"
                listItems={[
                    "約40分（浜松町駅経由、JR 新橋駅または有楽町駅下車）",
                    "JR 新橋駅A5、または有楽町駅A2出口から徒歩3分"
                ]}
                imageSrc="/assets/images/access_maps/airport-map-1.png"
            />
            <div class="access-divider">
                <!-- Divider -->
            </div>
            <AccessMapHead 
                className="access-map-item"
                title="成田空港から"
                googleMapLink="https://www.google.com/maps"
                listItems={[
                    "約70分（東京駅経由、JR有楽町駅下車）",
                    "有楽町駅A2出口から徒歩3分"
                ]}
                imageSrc="/assets/images/access_maps/airport-map-2.png"
            />
        </div>
        <div class="container" id="car">
            <SectionHeading title="お車でお越しの場合" />
            <div class="access-divider">
                <!-- Divider -->
            </div>
            <AccessMapHead 
                className="access-map-item"
                listItems={[
                    "◯◯方面よりお越しのお車は、◯◯◯◯交差点通過直後に◯◯を通らず、◯◯◯◯方面地上路車線を直進ください。",
                    "※ホテル駐車場車体制限：高さ 2.1m、幅 1.95m、長さ 6m まで。"
                ]}
                imageSrc="/assets/images/access_maps/bus-map-1.png"
            />
        </div>
    </div>
</section>