<div class="relative mr-3 w-full">
    <div class="grid gap-1" role="button" id="languageDropdownMobile">
        <div class="grid grid-cols-[auto_auto_auto] items-center justify-start gap-0.5">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                <path
                    d="M9 16.625C8.02312 16.625 7.10125 16.4377 6.23437 16.0632C5.3675 15.6887 4.6115 15.1789 3.96637 14.5336C3.32112 13.8885 2.81125 13.1325 2.43675 12.2656C2.06225 11.3987 1.875 10.4769 1.875 9.5C1.875 8.51537 2.06225 7.59156 2.43675 6.72856C2.81125 5.86556 3.32112 5.1115 3.96637 4.46637C4.6115 3.82112 5.3675 3.31125 6.23437 2.93675C7.10125 2.56225 8.02312 2.375 9 2.375C9.98462 2.375 10.9084 2.56225 11.7714 2.93675C12.6344 3.31125 13.3885 3.82112 14.0336 4.46637C14.6789 5.1115 15.1887 5.86556 15.5632 6.72856C15.9377 7.59156 16.125 8.51537 16.125 9.5C16.125 10.4769 15.9377 11.3987 15.5632 12.2656C15.1887 13.1325 14.6789 13.8885 14.0336 14.5336C13.3885 15.1789 12.6344 15.6887 11.7714 16.0632C10.9084 16.4377 9.98462 16.625 9 16.625ZM9 15.4841C9.38275 14.9764 9.70487 14.4644 9.96637 13.9481C10.2279 13.4317 10.4409 12.8673 10.6054 12.2548H7.39462C7.56875 12.8865 7.78419 13.4606 8.04094 13.9769C8.29756 14.4933 8.61725 14.9957 9 15.4841ZM7.54762 15.2778C7.26012 14.8653 7.00194 14.3964 6.77306 13.871C6.54419 13.3455 6.36631 12.8068 6.23944 12.2548H3.69525C4.09137 13.0336 4.62262 13.688 5.289 14.2179C5.95537 14.7476 6.70825 15.1009 7.54762 15.2778ZM10.4524 15.2778C11.2917 15.1009 12.0446 14.7476 12.711 14.2179C13.3774 13.688 13.9086 13.0336 14.3047 12.2548H11.7606C11.6096 12.8115 11.4196 13.3526 11.1908 13.8781C10.962 14.4036 10.7159 14.8702 10.4524 15.2778ZM3.2235 11.1297H6.01162C5.9645 10.851 5.93031 10.5777 5.90906 10.3098C5.88794 10.0421 5.87737 9.77212 5.87737 9.5C5.87737 9.22787 5.88794 8.95794 5.90906 8.69019C5.93031 8.42231 5.9645 8.149 6.01162 7.87025H3.2235C3.15137 8.125 3.09613 8.38987 3.05775 8.66488C3.01925 8.93988 3 9.21825 3 9.5C3 9.78175 3.01925 10.0601 3.05775 10.3351C3.09613 10.6101 3.15137 10.875 3.2235 11.1297ZM7.13644 11.1297H10.8636C10.9106 10.851 10.9447 10.5801 10.9659 10.3171C10.9871 10.0541 10.9976 9.78175 10.9976 9.5C10.9976 9.21825 10.9871 8.94587 10.9659 8.68287C10.9447 8.41987 10.9106 8.149 10.8636 7.87025H7.13644C7.08944 8.149 7.05531 8.41987 7.03406 8.68287C7.01294 8.94587 7.00237 9.21825 7.00237 9.5C7.00237 9.78175 7.01294 10.0541 7.03406 10.3171C7.05531 10.5801 7.08944 10.851 7.13644 11.1297ZM11.9884 11.1297H14.7765C14.8486 10.875 14.9039 10.6101 14.9422 10.3351C14.9807 10.0601 15 9.78175 15 9.5C15 9.21825 14.9807 8.93988 14.9422 8.66488C14.9039 8.38987 14.8486 8.125 14.7765 7.87025H11.9884C12.0355 8.149 12.0697 8.42231 12.0909 8.69019C12.1121 8.95794 12.1226 9.22787 12.1226 9.5C12.1226 9.77212 12.1121 10.0421 12.0909 10.3098C12.0697 10.5777 12.0355 10.851 11.9884 11.1297ZM11.7606 6.74525H14.3047C13.9039 5.95675 13.3762 5.30237 12.7219 4.78212C12.0675 4.262 11.311 3.90625 10.4524 3.71488C10.7399 4.15138 10.9956 4.62881 11.2196 5.14719C11.4437 5.66544 11.6241 6.19813 11.7606 6.74525ZM7.39462 6.74525H10.6054C10.4312 6.11825 10.2122 5.54056 9.94837 5.01219C9.68437 4.48381 9.36825 3.98506 9 3.51594C8.63175 3.98506 8.31562 4.48381 8.05162 5.01219C7.78775 5.54056 7.56875 6.11825 7.39462 6.74525ZM3.69525 6.74525H6.23944C6.37594 6.19813 6.55625 5.66544 6.78037 5.14719C7.00437 4.62881 7.26012 4.15138 7.54762 3.71488C6.68412 3.90625 5.92644 4.26325 5.27456 4.78588C4.62256 5.30838 4.09612 5.9615 3.69525 6.74525Z"
                    fill="#303030"></path>
            </svg>
            <span class="text-sm font-500 uppercase" id="mobile-selected-language">JP</span>

            <!-- Arrow -->
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                class="-rotate-90 transition-all duration-500"
            >
                <path
                    d="M5.99837 7.74181L9.2571 4.48307C9.34305 4.39713 9.44536 4.35527 9.56404 4.35751C9.68272 4.35974 9.78507 4.40383 9.87108 4.48978C9.95703 4.57572 10 4.67803 10 4.79671C10 4.91539 9.95703 5.01774 9.87108 5.10376L6.55243 8.4157C6.4742 8.49386 6.38656 8.5518 6.28951 8.58951C6.19246 8.62729 6.09541 8.64618 5.99837 8.64618C5.90132 8.64618 5.80427 8.62729 5.70722 8.58951C5.61017 8.5518 5.52253 8.49386 5.4443 8.4157L2.12565 5.09705C2.0397 5.01111 1.99785 4.90991 2.00008 4.79347C2.00232 4.67695 2.04641 4.57572 2.13235 4.48978C2.2183 4.40383 2.32061 4.36086 2.43929 4.36086C2.55797 4.36086 2.66032 4.40383 2.74633 4.48978L5.99837 7.74181Z"
                    fill="black"></path>
            </svg>

            <span class="col-span-full h-[1px] w-full bg-color9"></span>
        </div>
    </div>

    <!-- Language dropdown -->
    <ul id="mobile-language-dropdown" class="grid max-h-0 w-full overflow-hidden pt-4 transition-all duration-1000">
        <li class="group/link w-full transition-all duration-500 hover:bg-color1">
            <a
                href="#"
                class="lang-option-mobile block px-5 py-2.5 text-start group-hover/link:!text-color4"
                data-lang="en">EN</a
            >
        </li>
        <li class="group/link w-full transition-all duration-500 hover:bg-color1">
            <a
                href="#"
                class="lang-option-mobile block px-5 py-2.5 text-start group-hover/link:!text-color4"
                data-lang="es">ES</a
            >
        </li>
        <li class="group/link w-full transition-all duration-500 hover:bg-color1">
            <a
                href="#"
                class="lang-option-mobile block px-5 py-2.5 text-start group-hover/link:!text-color4"
                data-lang="fr">FR</a
            >
        </li>
        <li class="group/link w-full transition-all duration-500 hover:bg-color1">
            <a
                href="#"
                class="lang-option-mobile block px-5 py-2.5 text-start group-hover/link:!text-color4"
                data-lang="de">DE</a
            >
        </li>
        <li class="group/link w-full transition-all duration-500 hover:bg-color1">
            <a
                href="#"
                class="lang-option-mobile block px-5 py-2.5 text-start group-hover/link:!text-color4"
                data-lang="jp">JP</a
            >
        </li>
        <!-- Add other languages here -->
    </ul>
</div>
