<div class="fixed top-0 h-full w-full bg-color4">
    <!-- Container -->
    <div class="grid h-full w-full content-start">
        <!-- Logo bar -->
        <div class="flex items-center justify-between gap-12">
            <a href="/" title="FEH JP">
                <img src="public/logos/nav-logo.png" alt="FEH JP" width="179" height="84" class="max-sm:max-w-20" />
            </a>

            <!-- Close icon -->
            <button type="button" title="Hamburger menu" class="grid h-16 w-16 place-items-center">
                <img src="public/icons/icon-close.svg" alt="Close menu" width="36" height="36" class="" />
            </button>
        </div>
    </div>
</div>
