---
import Layout from '../../layouts/Layout.astro';
import SectionHeading from '@/components/SectionHeading/index.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<style is:inline>
    #navbar {
        position: sticky !important;
        background-color: var(--color4) !important;
        box-shadow: var(--shadow2) !important;
    }

    .parent-menu:nth-of-type(1) > li:nth-child(2) > a {
        color: var(--color1) !important;
    }
</style>

<Layout currentPageTitle="お問い合わせ" whiteNav={true}>
    <section class="section">
        <div class="container grid justify-items-center gap-6">
            <SectionHeading title="会員登録が完了しました" />

            <div class="grid w-full max-w-[57rem] justify-items-center gap-6 bg-color13 px-6 py-10 md:gap-12">
                <p class="max-w-[48.25rem] text-sm leading-8 text-black md:text-center">
                    この度は、ご登録いただきましてありがとうございます。<br />
                    メールでお送りしたリンクから、会員様情報をご確認ください。<br />
                    メールが届かない場合は、迷惑メールフォル、ダをご確認のうえ再送リクエストを行ってください。
                </p>

                <a class="button w-full max-w-[13rem] justify-self-center md:max-w-[18.87rem]" href="/">
                    TOPページへ戻る
                    <svg
                        class="md:hidden"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                    >
                        <path
                            d="M10.2967 7.99957L5.95171 3.65459C5.83712 3.54 5.78131 3.40358 5.78429 3.24534C5.78727 3.08711 5.84606 2.95064 5.96065 2.83595C6.07525 2.72136 6.21166 2.66406 6.3699 2.66406C6.52814 2.66406 6.6646 2.72136 6.77929 2.83595L11.1952 7.26082C11.2994 7.36513 11.3767 7.48198 11.427 7.61138C11.4773 7.74078 11.5025 7.87018 11.5025 7.99957C11.5025 8.12897 11.4773 8.25837 11.427 8.38777C11.3767 8.51717 11.2994 8.63402 11.1952 8.73833L6.77035 13.1632C6.65576 13.2778 6.52083 13.3336 6.36558 13.3306C6.21022 13.3276 6.07525 13.2688 5.96065 13.1543C5.84606 13.0397 5.78876 12.9032 5.78876 12.745C5.78876 12.5868 5.84606 12.4503 5.96065 12.3356L10.2967 7.99957Z"
                            fill="white"></path>
                    </svg>
                </a>
            </div>
        </div>
    </section>
</Layout>
